<a href="https://colab.research.google.com/github/fahimabrar/Data-Scientist-Jobs-in-UK/blob/main/Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install beautifulsoup

Collecting beautifulsoup
  Downloading BeautifulSoup-3.2.2.tar.gz (32 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/40/f2/6c9f2f3e696ee6a1fb0e4d7850617e224ed2b0b1e872110abffeca2a09d4/BeautifulSoup-3.2.2.tar.gz#sha256=a04169602bff6e3138b1259dbbf491f5a27f9499dea9a8fbafd48843f9d89970 (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading BeautifulSoup-3.2.1.tar.gz (31 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/1e/ee/295988deca1a5a7accd783d0dfe14524867e31abb05b6c0eeceee49c759d/BeautifulSoup-3.2.1.tar.gz#sha256=6a8cb4401111e011b579c8c52a51cdab970041cc543814bbd9577a4529fe1cdb (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Downloading BeautifulSoup-3.2.0.tar.gz (31 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/33/fe/15326560884f20d792d3ffc7fe8f639aab88647c9d46509a240d9bfbb6b1/BeautifulSoup-3.2.0.tar.gz#sha256=0dc52d07516c1665c9dd9f0a390a7a054bfb7b147a50b2866fb116b8909dfd37 (from https://pypi.org/simple/beautifulsoup/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement beautifulsoup (from versions: 3.2.0, 3.2.1, 3.2.2)
ERROR: No matching distribution found for beautifulsoup

In [ ]:
from bs4 import BeautifulSoup
import requests as re

In [ ]:
urls = []

In [ ]:
for i in range(1, 50):
  html_content = re.get("https://www.reed.co.uk/jobs/data-scientist-jobs?pageno="+str(i)).content
  soup = BeautifulSoup(html_content)
  a = soup.find_all("a", {"class": "job-block-link"})
  for j in range(len(a)):
    urls.append("https://www.reed.co.uk"+a[j]['href'])

In [ ]:
urls[0]

'https://www.reed.co.uk/jobs/data-scientist/44537904?source=searchResults&filter=%2fjobs%2fdata-scientist-jobs'

In [ ]:
len(urls)

1025

# Data Collection............

In [ ]:
import pandas as pd
import numpy as np
data = pd.DataFrame(columns = ["jobtitle",  "salary", "locality", "region", "jobtype", "description", "url"])

In [ ]:
for i in range(len(urls)):
  try:
    url = urls[i]
    html_content = re.get(url).content
    soup = BeautifulSoup(html_content)

    try:
      jobtitle = soup.h1.text
    except:
      jobtitle = np.nan

    try:
      company_name = soup.find("span", {"itemprop":"name"}).text
    except:
      company_name = np.nan

    try:
      salary = soup.find("span", {"data-qa":"salaryLbl"}).text
    except:
      salary = np.nan

    try:
      locality = soup.find("span", {"data-qa":"localityLbl"}).text
    except:
      locality  = np.nan

    try: 
      region =  soup.find("span", {"data-qa":"regionLbl"}).text
    except:
      region  = np.nan

    try:  
      jobtype = "".join(soup.find("span", {"data-qa":"jobTypeLbl"}).text.split())
    except:
      jobtype = np.nan

    try:
      description = " ".join(soup.find("div", {"class":"description"}).text.split())
    except:
      description = np.nan

    data = data.append({"jobtitle":jobtitle,"salary":salary, "locality":locality, "region":region, "jobtype":jobtype, "description":description, "url":url}, ignore_index=True)

    print(i)

  except:
    pass

In [ ]:
data.head()

          jobtitle  ...                                                url
0   Data Scientist  ...  https://www.reed.co.uk/jobs/data-scientist/445...
1   Data Scientist  ...  https://www.reed.co.uk/jobs/data-scientist/447...
2   Data Scientist  ...  https://www.reed.co.uk/jobs/data-scientist/444...
3   Data Scientist  ...  https://www.reed.co.uk/jobs/data-scientist/446...
4  Data Scientist   ...  https://www.reed.co.uk/jobs/data-scientist/447...

[5 rows x 7 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   jobtitle     1025 non-null   object
 1   salary       964 non-null    object
 2   locality     1025 non-null   object
 3   region       1021 non-null   object
 4   jobtype      1025 non-null   object
 5   description  964 non-null    object
 6   url          1025 non-null   object
dtypes: object(7)
memory usage: 56.2+ KB

In [ ]:
data.to_csv("/content/drive/My Drive/ds_data.csv")